/* Insert font from here*/
@font-face {
    font-family: Montserrat-Regular;
    src: url('Montserrat-Regular.ttf');
}

.text {
    -fx-font-family: "Montserrat";
    -fx-font-size: 15;
}
.button1:hover{
    -fx-background-color: #fcfc03;
    -fx-text-fill: black;
}

//sound
.button2:hover{
    -fx-background-color: #fcfc03;
}

.buttonSearch:hover {
     -fx-background-color:  #04c7b3;
     -fx-content-display: LEFT;
     -fx-text-fill: white;
}

/*about scroll bar from here*/

.listview .scroll-bar:horizontal .track,
.listview .scroll-bar:vertical .track{
   -fx-background-color: transparent;
   -fx-border-color: transparent;
   -fx-background-radius: 0em;
   -fx-border-radius:2em;
}

/* The increment and decrement button CSS class of scrollbar */
.listview .scroll-bar:horizontal .increment-button ,
.listview .scroll-bar:horizontal .decrement-button {
    -fx-background-color:transparent;
   -fx-background-radius: 0em;
   -fx-padding:0 0 10 0;

}

.listview .scroll-bar:vertical .increment-button ,
.listview .scroll-bar:vertical .decrement-button {

    -fx-background-color:transparent;
   -fx-background-radius: 0em;
   -fx-padding:0 10 0 0;

}

.listview  .scroll-bar .increment-arrow,
.listview  .scroll-bar .decrement-arrow,
 {
   -fx-padding:0;
}

.listview .scroll-bar:horizontal .thumb,
.listview .scroll-bar:vertical .thumb {
    -fx-background-color:  #04c7b3;
   -fx-background-insets: 2, 0, 0;
   -fx-background-radius: 1em;
}




